@{
    ViewBag.Title = "Bienvenido";
}

<h2>Bienvenido al sitio de evaluación</h2>

<a href="Calculadora/Sumar">"Ir a Calculadora de Sumas"</a>
<a href="Calculadora/Restar">"Ir a Calculadora de Restas"</a>

