@{
    ViewBag.Title = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="~/Content/css/estilo.css" type="text/css">
    <title></title>
</head>
<body>
    
    @RenderBody()
</body>
</html>